.perspectiveContainer {
  perspective: 1000px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 80px;
}

.box3D {
  width: 200px;
  height: 100px;
  transform: rotateX(30deg) rotateY(30deg) translateZ(50px);
  transition: transform 0.3s ease;
}
